@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-image: url("./images/background\ 1.png");
    background-attachment: fixed;
    background-size: cover;
}

.custom-box {
    max-width: 800px;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 30px 30px;
    border-radius: 10px;
}

.quiz-home-box {
    text-align: center;
}

.quiz-home-box h4{
    font-size: 28px;
    font-weight: 450;
    color: #444444;
    margin: 0 0 30px;
}

.btn{
    background-color:#ffffff;
    border: 2px solid #470505;
    padding: 12px 30px;
    color: #ff8b00;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    margin:0 10px;
}

.quiz-box {
    background-color: #f7ecd9;
    box-shadow: #444444 0 0 10px;
}

.quiz-box .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 32px;
    text-transform: uppercase;
    color: #000000;
}

.quiz-box .stats .quiz-time {
    flex-basis: calc(50% -20px);
    max-width: cal(50%-20px);
    text-align: left;
}

.quiz-box .stats .quiz-time .remaining-time {
    height: 64px;
    width:64px;
    color: green;
    border: 2px solid green;
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    border-radius: 50px;
}

.quiz-box .stats .score-board {
    flex-basis: calc(50% -20px);
    max-width: cal(50%-20px);
    text-align: right;
    font-size: 28px;
}

.quiz-box .question-box {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 32px;
    border: 2px solid #c2af91;
    text-align: center;
}

.quiz-box .question-box .current-question-num {
    height: 70px;
    width:70px;
    background-color: #ffffff;
    border: 2px solid #c2af91;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px;
    line-height: 70px;
    text-align: center;
    position: relative;
    left: 50%;
    top:-70px;
    margin-top: 0px;
    margin-left: -35px;
    z-index:1;
    
}
.quiz-box .question-box .question-text {
    position: relative;
    top: -35px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.quiz-box .option-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quiz-box .option-box .option {
    background-color: #ffffff;
    flex-basis: calc(48%);
    max-width: calc(48% );
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600px;
    border-radius: 30px;
    border:2px solid #c2af91;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 15px;
    position: relative;
}
.quiz-box .option-box .option:hover {
    animation: shake 2s linear;
}

.quiz-box .option-box .option.already-answered {
    pointer-events: none;
}

.quiz-box .option-box .option.correct {
    background-color: #11C466;
    border-color: #059e4C;
    color: white;
    animation: pulse 0.8s linear ;
}

@keyframes pulse {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{

    }
}

.quiz-box .option-box .option.correct::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    right: 20px;
    top: 15px;
    border-radius: 20px;
    background-color: white;
    background-image: url("./images/tick-correct-img.png");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat; 
    animation: fadeInRight 0.5s ease-in-out;
}

.quiz-box .option-box .option.wrong {
    background-color: #f85943;
    border-color: #d23723;
    color: white;
    animation: shake 1s linear;
}

.quiz-box .option-box .option.wrong::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    right: 20px;
    top: 15px;
    border-radius: 20px;
    background-color:white;
    background-image: url("./images/wrong-cross-img.jpg");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat; 
    animation: fadeInRight 0.5s ease-in-out;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@keyframes FadeInRight {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.quiz-box .answer-description {
    background-color: white;
    border:2px solid #c2af91;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: #555555;
    font-size: small;
    font-weight: 300;
}

.answer-description.show {
    display: inherit;
    animation:fadeInright 1s ease-in-out;
}

.quiz-box .next-question {
    margin-top: 20px;
    text-align: center;
}

.see-result-btn,.next-question-btn, .answer-description {
    display: none;
}

/* .see-result-btn.show{
    display: inline-block;
    animation:fadeInright 1s ease-in-out;
} */

.next-question-btn.show{
    display: inline-block;
    animation:fadeInright 1s ease-in-out;
}

.hide {
    display: none;
}

.quiz-over-box {
    text-align: center;
}
.quiz-over-box h1{
    font-size: 40px;
    text-align: center;
    color: #f34c36;
    font-weight: 600;
    margin: 0 0 30px;

}

.quiz-over-box h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #444444;
    margin: 15px 0 20px;
}

.quiz-over-box h4 span {
    font-weight: bolder;
    color: #111111;
}

.start-again-quiz-btn {
    display: none;
}

.go-home-btn {
    margin-top:15px
}