@keyframes pulse {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{

    }
}
@keyframes zoomIn {
    0%{
        opacity:0;
        transform: scale(0.85);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeInOut{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    margin: 0;
    background-image: url("./images/background\ 1.png");
    background-attachment: fixed;
    background-size: cover;
}

.custom-box {
    max-width: 800px;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 30px 30px;
    border-radius: 10px;
}

.quiz-home-box {
    text-align: center;
}

.quiz-home-box h4{
    font-size: 28px;
    font-weight: 450;
    color: #444444;
    margin: 0 0 30px;
}

.btn{
    background-color:#ffffff;
    border: 2px solid #470505;
    padding: 12px 30px;
    color: #ff8b00;
    border-radius: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    margin:0 10px;
}

.btn:hover {
    opacity: 0.9;
    color: white;
    background-color: orange;
    
    transition-duration: 0.2s;
}

.quiz-box {
    background-color: #f7ecd9;
    box-shadow: #444444 0 0 10px;
}

.quiz-box .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 32px;
    text-transform: uppercase;
    color: #000000;
}

.quiz-box .stats .quiz-time {
    flex-basis: auto;
    max-width: 40%;
    text-align: left;
}

.quiz-box .stats .quiz-time .remaining-time {
    height: 64px;
    width:64px;
    color: green;
    border: 2px solid green;
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    border-radius: 50px;
}

.quiz-box .stats .time-up-text {
    color: #c9240f;
    font-weight: bold;
    display: none;
}

.quiz-box .stats .time-up-text.show {
    display: inline;
    text-align: left;
    animation: fadeInOut 1s linear infinite;
}

.quiz-box .stats .quiz-time .remaining-time.less-time{
    color: whitesmoke;
    background-color: red;
    border-style: double;
    animation: pulse 0.5s ease-in-out;
    transition: all 1s;
}

.quiz-box .stats .score-board {
    flex-basis: auto;
    max-width: cal(50%-20px);
    text-align: right;
    font-size: 28px;
}

.quiz-box .question-box {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 32px;
    border: 2px solid #c2af91;
    text-align: center;
    opacity: 0;
    animation: zoomIn 0.8s linear forwards;
    
}

.quiz-box .question-box .current-question-num {
    height: 70px;
    width:70px;
    background-color: #ffffff;
    border: 2px solid #c2af91;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px;
    line-height: 70px;
    text-align: center;
    position: relative;
    left: 50%;
    top:-70px;
    margin-top: 0px;
    margin-left: -35px;
    z-index:1;
    
}
.quiz-box .question-box .question-text {
    position: relative;
    top: -35px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.quiz-box .option-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    animation: zoomIn 0.8s linear forwards;
}
.quiz-box .option-box .option {
    background-color: #ffffff;
    flex-basis: calc(48%);
    max-width: calc(48% );
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 30px;
    border:2px solid #c2af91;
    cursor: pointer;
    margin-top: 30px;
    padding: 15px 15px;
    position: relative;
    animation: zoomIn 0.2s ease-in-out;
    transition: all .1s linear;
    
}


.quiz-box .option-box .option:hover {
    background-color: orange;
    box-shadow: 0 1px 0 #351503;
    transform: translateY(1px);
    transition-duration: 0.2s;
}

.quiz-box .option-box .option.already-answered {
    pointer-events: none;
}

.quiz-box .option-box .option.correct {
    background-color: #11C466;
    border-color: #059e4C;
    color: white;
    animation: pulse 0.5s linear ;
}

.quiz-box .option-box .option.correct::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    right: 20px;
    top: 15px;
    border-radius: 20px;
    background-color: white;
    background-image: url("./images/tick-correct-img.png");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat; 
    animation: pulse 0.5s ease-in-out;
}

.quiz-box .option-box .option.show-correct {
    background-color: #11C466;
    border-color: #059e4C;
    color: white;
    animation: pulse 0.5s linear ;
}

.quiz-box .option-box .option.wrong {
    background-color: #f85943;
    border-color: #d23723;
    color: white;
    animation: shake 0.7s linear;
}

.quiz-box .option-box .option.wrong::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    right: 20px;
    top: 15px;
    border-radius: 20px;
    background-color:white;
    background-image: url("./images/wrong-cross-img.jpg");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat; 
    animation: pulse 0.5s linear forwards;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@keyframes fadeInRight {
    0% { 
        opacity: 0; 
        transform:translateX(40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.hide {
    display: none;
}

.quiz-box .answer-description {
    background-color: white;
    border:2px solid #c2af91;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: #555555;
    font-size: medium;
    font-weight: 300;
}

.quiz-box .next-question {
    margin-top: 20px;
    text-align: center;
}

.quiz-box .next-question .next-question-btn.show:hover {
    opacity: 0.9;
    color: white;
    background-color: orange;
    
    transition-duration: 0.2s;
}

.see-results-btn,.next-question-btn, .answer-description {
    display: none;
}

.answer-description.show {
    display: inherit;
    animation:fadeInRight .7s linear forwards;
}

.next-question-btn.show{
    display: inline-block;
    animation:fadeInRight .7s linear forwards;
}

.see-results-btn.show{
    display: inline-block;
    animation:fadeInRight 0.7s linear forwards;
}

.quiz-over-box {
    text-align: center;
}

.quiz-over-box.show {
    display: block;
    animation: fadeInRight 1s ease-in;
}

.quiz-over-box h1{
    font-size: 40px;
    text-align: center;
    color: #f34c36;
    font-weight: 600;
    margin: 0 0 30px;

}

.quiz-over-box h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #444444;
    margin: 15px 0 20px;
}

.quiz-over-box h4 span {
    font-weight: bolder;
    color: #111111;
}

.go-home-btn .start-again-quiz-btn{
    margin-top:15px
}


/* FORMS */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 1.5rem 0 rgba(85,185,235,0.5);
}

input::placeholder {
    color: rgb(39, 39, 39);
}